/* Home page  */

body {
  font-family: 'Courier New', Courier, monospace;
  background-color:#E0C334;
  background-image: url(https://img.freepik.com/premium-photo/empty-room-with-mirrored-wall-wood-flooring-generative-ai_97167-14580.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}


h1 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


footer {
  color:  #4B0082;
  display: flex;
  justify-content: baseline;
}