/* fonts of headings and body*/

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 48px;
  color:cyan;
}

body {
  font-family: 'Fanwood Text', serif;
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  color: #4B0082;
}


 .name {
  font-size: 30px;
 }

footer {
  font-size: 1.2rem;
}