/* nav for listed elements */

html {
  box-sizing: border-box;
}


/* hovering state when cursor goes on the nav items  */
.li:hover {
  background-color: tomato;

}


/* Navigation bar properties are below */
.nav-menu {
  list-style: none;

  color: #3431A8;
  font-weight: bold;
  font: 2em sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  transform: scale3d(1.5, 1.5, 1.5);
}

/* listed elements of the navigation  */
li{
  list-style: none;
  margin: 2rem;
  padding: 8px;
  cursor: pointer;
  border-style: solid black;
}
