/* front page  */

body {
  font-family: 'Courier New', Courier, monospace;
  color: hsl(240, 100%, 27%), hsl(0, 85%, 53%), rgb(221, 60, 87);
  background-image: url(https://cdn.sanity.io/images/fp07o18t/i18n/40e6ec0eddd987533576739808993b64096b299d-1280x720.png?auto=format);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
